.categories {
  margin-top: 162px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;


    > h2 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -0.04em;
      color: #000000;
    }

    > a {
      padding: 21px 27px 20px;
      background: #E7FAFE;
      border-radius: 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: #000000;
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 130px;
  }

  .item {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
    border-radius: 30px;
    &:nth-child(2){
      background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
      > h3 {
        padding: 100px 63px 30px;
      }
    }
    &:nth-child(3){
      background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
      > h3 {
        padding: 100px 68px 30px;
      }
    }
    &:nth-child(4){
      background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
      > h3 {
        padding: 100px 57px 30px;
      }
    }
    &:nth-child(5){
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
      > h3 {
        padding: 100px 64px 30px;
      }}
    &:nth-child(6){
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
      > h3 {
        padding: 100px 47px 30px;
      }}
    &:hover{
      >img{

        animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
      @keyframes slide-top {
        0% {
          transform: translateY(0);
        }

        100%{
          transform: translateY(-10px);
        }
      }
    }
    > img {
      animation: slide-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      position: absolute;
      top: -50px;
      @keyframes slide-bottom {
        0% {
          transform: translateY(-10px);
        }

        100%{
          transform: translateY(0);
        }
      }
    }

    > h3 {
      padding: 100px 50px 30px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #000000;
    }
  }
}
