.moreRecipes{
  padding: 160px 0 160px;
  display: flex;
  flex-direction: column;
  .title{
    display: flex;
    gap: 153px;
    h2{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -0.04em;
      color: #000000;
    }
    p{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .recipes_items{
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .items {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .titleContent{
    width: 290px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    letter-spacing: -0.04em;
    color: #000000;
  }
  .time {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    > p {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      letter-spacing: -0.02em;

      color: rgba(0, 0, 0, 0.6);
    }
  }
}
.img {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  .like {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    z-index: 9;
    padding: 12px;
    border-radius: 50%;
    background: #FFFFFF;
  }
}
