@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lobster&display=swap');html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Inter,Lobster, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {*/
/*    html {*/
/*        color-scheme: dark;*/
/*    }*/

/*    body {*/
/*        color: white;*/
/*        background: black;*/
/*    }*/

/*    path {*/
/*        fill: #ffff;*/
/*    }*/
/* */
/*    svg:hover{*/
/*    scale: 1.2;*/
/*        transition: all 0.3s ease-in-out;*/
/*    }*/
/*}*/


